@page
@model WebApplication1.Pages.Reception.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Here you can see a list of those who ate breakfast today</h1>
<a asp-page="./ListWithInfo" asp-route-id="ReservationsID">Show list of guests who ate breakfast today</a>


<h1> Create new breakfast orders for guests </h1>

<p>
    <a asp-page="Create">Create New</a>
</p>


<table class="table">
    <thead>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Reservations[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservations[0].NumberOfAdults)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservations[0].NumberOfChildren)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservations[0].RoomNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model.Reservations) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfAdults)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfChildren)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomNumber)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ReservationsID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ReservationsID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ReservationsID">Delete</a>
            </td>

        </tr>
}
    </tbody>
</table>


